*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    height: 100%;
}

body{
    background-color: #0F0F14;
}

#fundo{
    background-image: url("fundodungeon.gif");
    width: 600px;
    height: 450px;
    top: 20%;
    margin: 0 auto;
    position: relative;
    border: 10px solid #433D33;
    overflow: hidden;
}

#medusa{
    width: 70px;
    height: 86px;
    position: absolute;
    left: 250px;
    top: 170px;
    overflow: hidden;
}

#medusa img{
    width: 196px;
    height: 180px;
    position: absolute;
}

.movimento{
    animation: movimento 1300ms steps(3) infinite;
}

.direita{
    top: 0px;
}

.esquerda{
    top: -88px;
}

@keyframes movimento{
    from{
        transform: translate3d(0,0,0);
    }to{
        transform: translate3d(-100%,0,0);
    }
}